/* work senc efont  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,800&display=swap');


* {
    font-family: 'Work Sans', sans-serif;
}

.text-light-grayr{
    color: #727272;
}


header{
    background: rgba(255, 144 ,14, 0.10);
    padding: 50px 200px;
    
}
.btn-primary{
    border-radius: 8px;
    background-color: tomato;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;


}

.section-titel{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav >ul {
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
text-decoration: none;
color: #424242;
}
.banner-conten{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}


main{
    max-width: 1440px;
    margin: 60px auto;

}
.temeas-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:1.5rem;

}
.temes-conten{
    padding-right:70px ;
    padding-left: 70px;

}
.temes-title{
    font-size: 3rem;
    
}
.temes-title .Quick{
    color: #727272;
    font-weight: 500;
}
.temes-title .text-Features{
    color: #ff900e;
    font-weight: 700;
}
.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.feture-img img {
height: 100%;
margin-left: 100px;

}
.feture-img{
    width: 100%;
    height: 100%;
}




.feture-conten .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}
.features .section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;}





.fact-card-container{
    display: flex;
    justify-content: space-around;

}

.fact-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 35px 35px;
    
}
.ten-years-bage{
    border-radius: 8px;
    background: #ff900e;
    color: #fff;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;

}
.ten-years-bage h2 {
    font-size: 4rem;
    margin: 0;

}
.ten-years-bage p {
    font-size: 1.5rem;

}





.fact-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 8px;
    margin-bottom: 10px;
}
.fact-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: px;

}
.sponcers{
    text-align: center;
}
.sponcers-img-contener{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 45px;
    gap: 35px;
}
.sponcers-img-contener img {
    width: 165px;


}
.responsive-logo{
    background-color:tomato;
    width: 95%;
    padding: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
   
}













/* mobail divice theasses */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .temeas-container,
    .features,
    .fact-card-container,
    .sponcers-img-contener
    {
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .feture-img img{
        width: 100%;
        margin: 0;
    }
    .ten-years-bage{
        position: static;
        /* max-width: 500px; */
    }



    .temes-conten,.fact-card-container {
        padding-right:20px ;
        padding-left: 20px;
}
.fact-card-container{
    gap: 15px;
}




}







@media screen and (min-width:576px) and (max-width:992px) {
    
    nav,
    .features,
    .temeas-container,
    .sponcers-img-contener
    {
        flex-direction: column;
    }
    header{
        padding: 45px;
    }
}
